<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        #maincontent div span.title{
            width: 200px;
        }
    </style>
</head>
<body>
<div id="header" class="clearfix">
    <div class="center">
        <div id="branding">
            <img src="${rootUrl}/themes/images/logo.png"/>
        </div>
    </div>
    <div class="right"></div>
</div>
<br /><br />
<div id="maincontent" style="min-height: 270px; text-align: left; padding-left: 100px;">
    <div id="content">
        <div id="main">
            Xin chào, ${tenTruongPhoPhongKHMBH}.<br/>
            (Ông/Bà) ${tenTruongPhongDonVi} vừa gửi cho bạn báo cáo theo dõi thực hiện công việc của phòng <strong>${tenDonVi}</strong> tháng ${month} năm ${year}.<br/>
            Bạn cần phải xem và duyệt báo cáo này bằng cách click vào đường dẫn bên dưới hoặc vào trang web quản lý chi phí của VMS:<br/>
            <div style="margin-left: 20px;">
                <a target="_blank" href="${appUrl}">${appUrl}</a>
            </div><br/>
            <br/>
            Thank you,<br/>
            VMS Team Service.
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>