<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<p>
    Gửi Ban Giám Đốc,<br/>
    Gần đây VMS đã nhận được yêu cầu lập Phiếu Chi và đang chờ xác nhận của Ban Giám Đốc để xử lý. Bạn vui lòng đăng nhập vào hệ thống của VMS và xử lý Phiếu Chi này.<br/>
</p>
<p>Bên dưới là thông tin chi tiết của Phiếu Chi đang chờ xử lý:<br/>
    <table border="1" class="table">
        <thead>
        <tr>
            <th class="text-inline" style="width: 100px;">Số Phiếu Chi</th>
            <th class="text-center text-inline" style="width: 100px;">Mã Hồ Sơ</th>
            <th style="width: 100px;">Loại Chi</th>
            <th class="text-center" style="width: 200px;">Phòng Ban</th>
            <th style="width: 200px;">Người Lập</th>
            <th style="width: 200px;">Kế Toán Trưởng</th>
            <th style="width: 300px;">Lý Do Lập</th>
            <th style="width: 300px;">Lý Do Duyệt</th>
            <th style="width: 100px;">Mã Tài Khoản Nợ</th>
            <th style="width: 100px;">Mã Tài Khoản Có</th>
            <th style="width: 100px;">Số Tiền</th>
            <th style="width: 100px;">Ngày Lập</th>
            <th style="width: 100px;">Ngày KTT Duyệt</th>
            <th style="width: 150px;">Tình Trạng</th>
        </tr>
        </thead>
        #foreach($item in $items)
            <tr>
                <td>$item.phieuchi.soPhieuChi</td>
                <td class="text-center">$item.phieuchi.hoSoKeToan.maHoSo</td>
                <td class="text-center">$item.phieuchi.dmLoaiChi.name</td>
                <td class="text-center">$item.phieuchi.department.name</td>
                <td>$item.phieuchi.nguoiLap.displayName</td>
                <td>$item.nhanVienXuLy.displayName</td>
                <td>$item.phieuchi.lyDo</td>
                <td>$item.noiDungXuLy</td>
                <td>$item.phieuchi.maSoTaiKhoanNo.maTaiKhoan</td>
                <td>$item.phieuchi.maSoTaiKhoanCo.maTaiKhoan</td>
                <td>$item.phieuchi.soTien</td>
                <td>$item.phieuchi.createdDate</td>
                <td>$item.ngayXuLy</td>
                <td>Chờ Ban Giám Đốc duyệt</td>
            </tr>
        #end
    </table>
</p>
</body>
</html>