body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, nav {
    font-family: Tahoma, Geneva, sans-serif;
}

article {
    background-color: rgba(255, 255, 255, .9);
    padding: 12px 48px;
}

/********Header - Nav************/
nav {
    float: right;
    margin-top: 24px;
}

nav li:first-child, .bg-red {
    background: #e74041;
}

nav li:nth-child(2) {
    background: #8ac041;
}

nav li:nth-child(3) {
    background: #de3285;
}

nav li:nth-child(4) {
    background: #f79422;
}

nav li:nth-child(5) {
    background: #53bbe2;
}

nav li:nth-child(6) {
    background: #39F;
}

nav li {
    display: inline-block;
    text-align: center;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 9px;
    -webkit-transform: skew(20deg) !important;
    -moz-transform: skew(20deg) !important;
    -ms-transform: skew(20deg) !important;
    -o-transform: skew(20deg) !important;
    transform: skew(20deg) !important;
    font-weight: bold;
    font-size: 14px;
}

nav li:hover {
    background: #025091;
}

nav li a:hover {
    opacity: 1;
}

nav li.active {
    background-color: white !important;
}

nav li.active a {
    color: black !important;
}

header hr {
    width: 99.2%;
    border-top: 1px solid #c3c3bb;
}

nav li.active a {
    opacity: 1;

}

.banner img {
    min-width: 150px;
}

/*********Body***********/
.bg-blue {
    background: #39F !important;
}

.bg-blue a:hover {
    color: black !important;
}

.container {
    max-width: 1150px;
}

/*********Footer***********/
footer {
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    padding: 8px 0 1px;
    color: #979185;
    position: fixed;
    width: 100%;
    z-index: 9;
}

footer p {
    font-size: 12px;
}

footer img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9;
}

/***   Home page   ***/
.home-page {
    background: url(../images/thuebaoptm_2015/bg-home.png) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#promotion_home_img{
    background: url(../images/thuebaoptm_2015/bg-home-ptm.png) 60% -150px no-repeat;
    width: 100%;
    height: 768px;
}

.home-page .content img {
    position: absolute;
    bottom: 0px;
}

.content {
    position: relative;
    min-height: 650px;
}

.img-left {
    position: absolute;
    top: 0;
}

/***   Sub page   ***/

.sub-page {
    background: url(../images/bg-kenhphanphoi.jpg) top center;
    background-size: cover;
}

.sub-page .content {
    background: url(../images/bg-png1.png) 0% 0% no-repeat;
}

.sub-page-the-le {
    background: url(../images/bg-cover.jpg) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sub-page .content img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 850px;
}

.maincolor {
    color: #0060af;
}

.bg-maincolor {
    background: #63b5f8;
}

.backround-red {
    background: red;
    border-radius: 8px;
}

table>tbody>tr>td:nth-child(4) {
    white-space: pre;
}

/***   Page total  ***/
.home-total {
    background: url(../images/bg-total-home-new.jpg) top center;
    background-size: cover;
}

.home-total a {
    display: inline-block;
}

.home-total img {
    max-height: 450px;
}

.img-canhan {
    margin: 200px 0 0 200px
}

.img-phanphoi {
    margin: 0px 0 0 -75px;
}

.ul-thele-q-student li{
    background: url(https://cdn1.iconfinder.com/data/icons/Momentum_MatteEntireSet/32/bullet-blue.png) 0px -6px no-repeat;
   list-style: none;
   padding-top: 0px;
   padding-bottom:2px;
   padding-left: 27;
}
.ul-thele-q-student li p{
    margin: 0px;
}
.q-student-thankcaption{
    border: 3px solid;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    border-color: #0060b1;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin-bottom: 13px;
    font-weight: 800;
    color: #0060b1;
    font-size: 21px;
    margin-left: 23px;
}

.the_le{
    font-size: 15.5px;
}

.table_goi_khuyen_khich {
    width: 300px !important;
    left: 51%;
    position: absolute;
    top: 320px;
}

.table_goi_khuyen_khich th, .table_goi_khuyen_khich td{
    text-align: center;
}

.table_goi_khuyen_khich > tbody > tr:nth-child(2n+1) > td,
.table_goi_khuyen_khich > tbody > tr:nth-child(2n+1) > th {
    background-color: #f1f1f1 !important;
}

.table_goi_khuyen_khich tbody tr td:first-child{
    text-align: left;
    padding-left: 20px;
}

.q_student_q_teen_2015_home_page{
    background: url(../images/q_teen_q_student_2015/q_student_q_teen_bg_2.png) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.q_student_q_teen_2015_home_img{
    background: url(../images/q_teen_q_student_2015/q_student_q_teen_bg_4.png) top center no-repeat;
    width: 100%;
    height: 768px;
}

.q_teen_q_student_left_img{
    background: url(../images/q_teen_q_student_2015/q_student_q_teen_bg_5.png) top center no-repeat;
    width: 603px;
    height: 724px;
    position: absolute;
}

.footer_q_teen_q_student{
    width: 100%;
    height: 47px;
    position: fixed;
    bottom: 35px;
}

.no-margin{
    margin: 0px !important;
}

@media screen and (max-width:1200px) {
    .img-canhan {
        margin: 30px 0 0;
    }

    nav {
        margin-top: 12px;
    }

    nav li a {
        font-size: 14px;
        padding: 5px;
    }

    .sub-page {
        background-size: auto;
    }

    /*.home-page {*/
        /*background: url(../images/thue_bao_ptm_home.jpg) top center no-repeat;*/
    /*}*/

    .sub-page-dai-ly .content img {
        left: -90;
    }

    .sub-page .content {
        background: url(../images/bg-png1.png) -9% 0% no-repeat;
    }

    /***   Page total  ***/
    .home-total img {
        max-height: 450px;
    }

    .img-canhan {
        margin: 200px 0 0 100px;
    }

    .img-phanphoi {
        margin: 200px 0 0 -75px;
    }
}

@media screen and (max-width:800px) {
    /*.home-page {*/
        /*background: url(../images/thue_bao_ptm_home.jpg) top center no-repeat;*/
    /*}*/

    .home-total {
        background: url(../images/bg-home-total-tablet-doc-total.jpg) top center;
        background-size: cover;
    }

    header hr {
        width: 94%;
        margin-left: 14px;
    }

    nav {
        float: none;
    }

    nav li a {
        font-weight: 500;
    }

    .content {
        min-height: 815px;
    }

    .background-none {
        background: none !important;
    }

    /***   Page total  ***/
    .home-total img {
        max-height: 390px;
    }

    .img-canhan {
        margin: 170px 0 0 200px;
    }

    .img-phanphoi {
        margin: 10px 0 0 145px;
    }

}

@media screen and (max-width:700px) {

    nav ul {
        margin-left: 0;
    }

    nav li {
        display: inline-block;
        text-align: center;
        width: 49%;
        margin: 2px 0.3% !important;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
    }

    nav li a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 11.5px;
        -webkit-transform: skew(0deg) !important;
        -moz-transform: skew(0deg) !important;
        -ms-transform: skew(0deg) !important;
        -o-transform: skew(0deg) !important;
        transform: skew(0deg) !important;
    }

    header {
        margin-top: 12px !important;
    }

    header .baner {
        text-align: left !important;
    }

    header img {
        max-width: 100px !important;
    }

    .content {
        min-height: 390px;
    }

    .sub-page, .sub-page-the-le {
        background: url(../images/bg-sub-mobile.jpg) top center no-repeat;
        background-attachment: fixed;
    }

    .sub-page .content {
        background: none;
        max-width: none;
    }

    article {
        padding: 1px 8px;
        margin-top: 5px;
    }

    .home-page .content img {
        max-width: 150%;
    }

    /***   Page total  ***/
    .home-total img {
        max-height: 250px;
    }

    .img-canhan {
        margin: 110px 0 0 56px;
    }

    .img-phanphoi {
        margin: 0 0 0 -45px;
    }
}

@media screen and (max-width:582px) {
    nav li {
        margin: 2px 0.1% !important;
    }

    /*.home-page {*/
        /*background: url(../images/bg-full-finail-DL.png) top center no-repeat;*/
    /*}*/
}
@media screen and (max-width:500px) {
    /***   Page total  ***/
    .img-canhan {
        margin: 95px 0 0 125px;
    }

    .img-phanphoi {
        margin: 0px 0 0 90px;
    }
}
@media screen and (max-width:360px) {
    nav li {
        margin: 2px 0 !important;
    }

    .img-canhan {
        margin: 100px 0 0 35px;
    }

    .img-phanphoi {
        margin: 0 0 10px 10px;
    }

    .img-phanphoi img {
        max-height: 240px;
    }
}

