<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/UserManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.UserManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.UserManagementLocalBean" id="userManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/UserGroupManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.UserGroupManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.UserGroupManagementLocalBean" id="userGroupManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/PermissionManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.PermissionManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.PermissionManagementLocalBean" id="permissionManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/PackageDataManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.PackageDataManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.PackageDataManagementLocalBean" id="packageDataManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/OrderManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.OrderManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.OrderManagementLocalBean" id="orderManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/KHDNManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.KHDNManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.KHDNManagementLocalBean" id="khdnManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/OrderHistoryManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.OrderHistoryManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.OrderHistoryManagementLocalBean" id="orderHistoryManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/OrderDataCodeManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.OrderDataCodeManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.OrderDataCodeManagementLocalBean" id="orderDataCodeManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/PackageDataCodeGenManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.PackageDataCodeGenManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.PackageDataCodeGenManagementLocalBean" id="packageDataCodeGenManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/MBDCostManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.MBDCostManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.MBDCostManagementLocalBean" id="mbdCostManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/CodeHistoryManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.CodeHistoryManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.CodeHistoryManagementLocalBean" id="codeHistoryManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/NotificationManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.NotificationManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.NotificationManagementLocalBean" id="notificationManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/UsedCardCodeManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.UsedCardCodeManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.UsedCardCodeManagementLocalBean" id="usedCardCodeManagementLocalBean"/>

    <jee:local-slsb jndi-name="java:app/dataseller-mail-service-1.0/EmailSessionBeanEJB!com.benluck.vms.mobifonedataseller.mail.EmailLocalBean" business-interface="com.benluck.vms.mobifonedataseller.mail.EmailLocalBean" id="emailLocalBean"/>


    <bean id="userSecurityAdvice" class="com.benluck.vms.mobifonedataseller.security.MyUserDetailService">
        <property name="userService" ref="userManagementLocalBean"/>
        <property name="ldapUserLookup" ref="ldapUserLookup" />
        <property name="userGroupService" ref="userGroupManagementLocalBean" />
        <property name="notificationService" ref="notificationManagementLocalBean" />
    </bean>

    <bean id="propertyConfigurer" class="com.benluck.vms.mobifonedataseller.util.MyPropertyConfigurer">

    </bean>
    <bean id="mailEngine" class="com.benluck.vms.mobifonedataseller.webapp.service.MailEngine">
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="emailSender" ref="emailSender"/>
    </bean>
    <!-- Configure Velocity for sending e-mail -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
                <prop key="velocimacro.library"></prop>
            </props>
        </property>
    </bean>
    <!-- Configure e-mail sender for sending e-mail -->
    <bean id="emailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- Uncomment if you need to authenticate with your SMTP Server -->
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="port" value="${mail.port}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
            </props>
        </property>
    </bean>
</beans>
