<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/UserManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.UserManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.UserManagementLocalBean" id="userManagementSessionEJB"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/UserGroupManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.UserGroupManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.UserGroupManagementLocalBean" id="userGroupManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/DepartmentManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.DepartmentManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.DepartmentManagementLocalBean" id="departmentManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/MaPhieuCTTichDiemManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.MaPhieuCTTichDiemManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.MaPhieuCTTichDiemManagementLocalBean" id="maPhieuCTTichDiemManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BCThongTinThiTruongManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoThongTinThiTruongManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoThongTinThiTruongManagementLocalBean" id="baoCaoThongTinThiTruongManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/UserPasswordManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.UserPasswordManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.UserPasswordManagementLocalBean" id="userPasswordManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/SoDiemCTTichDiemManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.SoDiemCTTichDiemManagementlocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.SoDiemCTTichDiemManagementlocalBean" id="soDiemCTTichDiemManagementlocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/StockAgentManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.StockAgentManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.StockAgentManagementLocalBean" id="stockAgentManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/GiftDeliveryAgentHistoryManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.GiftDeliveryAgentHistoryManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.GiftDeliveryAgentHistoryManagementLocalBean" id="giftDeliveryAgentHistoryManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/GiftDeliveryThueBaoManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.GiftDeliveryThueBaoManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.GiftDeliveryThueBaoManagementLocalBean" id="giftDeliveryThueBaoManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/GiftDeliveryThueBaoHistoryManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.GiftDeliveryThueBaoHistoryManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.GiftDeliveryThueBaoHistoryManagementLocalBean" id="giftDeliveryThueBaoHistoryManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ShopCodeChiNhanhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ShopCodeChiNhanhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ShopCodeChiNhanhManagementLocalBean" id="shopCodeChiNhanhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ChiNhanhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ChiNhanhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ChiNhanhManagementLocalBean" id="chiNhanhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ReportCtTichDiemManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ReportCtTichDiemManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ReportCtTichDiemManagementLocalBean" id="reportCtTichDiemManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/KPPManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.KPPManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.KPPManagementLocalBean" id="kppManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ThongTinThueBaoManahementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ThongTinThueBaoManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ThongTinThueBaoManagementLocalBean" id="thongTinThueBaoManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BranchManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BranchManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BranchManagementLocalBean" id="branchManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/MoneyExchangeBranchManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.MoneyExchangeBranchManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.MoneyExchangeBranchManagementLocalBean" id="moneyExchangeBranchManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/MoneyExchangeBranchHistoryManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.MoneyExchangeBranchHistoryManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.MoneyExchangeBranchHistoryManagementLocalBean" id="moneyExchangeBranchHistoryManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/DistrictManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.DistrictManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.DistrictManagementLocalBean" id="districtManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoDanhSachMaThuongManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoDanhSachMaThuongManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoDanhSachMaThuongManagementLocalBean" id="baoCaoDanhSachMaThuongManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTheoHangMucPhatSinhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTheoHangMucPhatSinhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTheoHangMucPhatSinhManagementLocalBean" id="baoCaoTheoHangMucPhatSinhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTienThuongMaDuThuongManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTienThuongMaDuThuongManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTienThuongMaDuThuongManagementLocalBean" id="baoCaoTienThuongMaDuThuongManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoHangHoaManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoHangHoaManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoHangHoaManagementLocalBean" id="baoCaoHangHoaManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoDanhGiaKQTHCTManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoDanhGiaKQTHCTManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoDanhGiaKQTHCTManagementLocalBean" id="baoCaoDanhGiaKQTHCTManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/GiftAgentTransferHistoryManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.GiftAgentTransferHistoryManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.GiftAgentTransferHistoryManagementLocalBean" id="giftAgentTransferHistoryManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/RetailDealerManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.RetailDealerManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.RetailDealerManagementLocalBean" id="retailDealerManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/PromItemsManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.PromItemsManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.PromItemsManagementLocalBean" id="promItemsManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/TraCuuThongTinKPPManagaementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.TraCuuThongTinKPPManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.TraCuuThongTinKPPManagementLocalBean" id="traCuuThongTinKPPManagaementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTongHopChuongTrinh_kpp_theoQuanHuyenManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopChuongTrinh_kpp_theoQuanHuyenManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopChuongTrinh_kpp_theoQuanHuyenManagementLocalBean" id="baoCaoTongHopChuongTrinh_kpp_theoQuanHuyenManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTongHopChuongTrinh_kpp_theoChiNhanhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopChuongTrinh_kpp_theoChiNhanhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopChuongTrinh_kpp_theoChiNhanhManagementLocalBean" id="baoCaoTongHopChuongTrinh_kpp_theoChiNhanhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoSoEZ_NhanTinTGCTManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoSoEZ_NhanTinThamGiaChuongTrinhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoSoEZ_NhanTinThamGiaChuongTrinhManagementLocalBean" id="BaoCaoSoEZ_NhanTinTGCTManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietGoiKM_theoMaGoiTenGoiManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietGoiKhuyenMai_TheoMaGoiTenGoiManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietGoiKhuyenMai_TheoMaGoiTenGoiManagementLocalBean" id="BaoCaoChiTietGoiKM_theoMaGoiTenGoiManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoEzNhanTinThamGiaChuongTrinhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoEzNhanTinThamGiaChuongTrinhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoEzNhanTinThamGiaChuongTrinhManagementLocalBean" id="BaoCaoEzNhanTinThamGiaChuongTrinhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoThongKeThueBaoTGGCManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoThongKeThueBaoThamGiaGoiCuocManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoThongKeThueBaoThamGiaGoiCuocManagementLocalBean" id="BaoCaoThongKeThueBaoTGGCManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTongHopKQCTManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopKetQuaChuongTrinhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopKetQuaChuongTrinhManagementLocalBean" id="BaoCaoTongHopKQCTManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTinNhanManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhanManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhanManagementLocalBean" id="BaoCaoTinNhanManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietGoiKM_TheoKhachHangManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietGoiKhuyenMai_TheoKhachHangManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietGoiKhuyenMai_TheoKhachHangManagementLocalBean" id="BaoCaoChiTietGoiKM_TheoKhachHangManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTongHopKetQuaChuongTrinh_kpp_theoDBHManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopKetQuaChuongTrinh_kpp_theoDBHManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTongHopKetQuaChuongTrinh_kpp_theoDBHManagementLocalBean" id="baoCaoTongHopKetQuaChuongTrinh_kpp_theoDBHManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoDBH_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoDBH_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoDBH_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoDBH_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoQuanHuyen_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoQuanHuyen_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoQuanHuyen_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoQuanHuyen_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoChiNhanh_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoChiNhanh_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoChiNhanh_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_mua_btg_tu_mobifone_theoChiNhanh_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoDBH_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoDBH_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoDBH_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoDBH_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoQuanHuyen_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoQuanHuyen_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoQuanHuyen_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoQuanHuyen_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoChiNhanh_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoChiNhanh_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoChiNhanh_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_mua_the_tu_mobifone_theoChiNhanh_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoDBH_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoDBH_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoDBH_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoDBH_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoQuanHuyen_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoQuanHuyen_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoQuanHuyen_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoQuanHuyen_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoChiNhanh_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoChiNhanh_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoChiNhanh_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_ban_truc_tiep_btg_va_psc_theoChiNhanh_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoDBH_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoDBH_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoDBH_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_ban_vas_theoDBH_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoQuanHuyen_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoQuanHuyen_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoQuanHuyen_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_ban_vas_theoQuanHuyen_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoChiNhanh_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoChiNhanh_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_ban_vas_theoChiNhanh_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_ban_vas_theoChiNhanh_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoDBH_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoDBH_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoDBH_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoDBH_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoQuanHuyen_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoQuanHuyen_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoQuanHuyen_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoQuanHuyen_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoChiNhanh_managementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoChiNhanh_managementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoChiNhanh_managementLocalBean" id="baoCaoChiTietHangMucPSC_kpp_gioi_thieu_kh_tham_gia_ctkm_theoChiNhanh_managementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTinNhan_kpp_theoDaiLyManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhan_kpp_theoDaiLyManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhan_kpp_theoDaiLyManagementLocalBean" id="baoCaoTinNhan_kpp_theoDaiLyManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTinNhan_kpp_theoQuanHuyenManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhan_kpp_theoQuanHuyenManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhan_kpp_theoQuanHuyenManagementLocalBean" id="baoCaoTinNhan_kpp_theoQuanHuyenManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoTinNhan_kpp_theoChiNhanhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhan_kpp_theoChiNhanhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoTinNhan_kpp_theoChiNhanhManagementLocalBean" id="baoCaoTinNhan_kpp_theoChiNhanhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ServiceTypeManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ServiceTypeManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ServiceTypeManagementLocalBean" id="serviceTypeManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoCanhBao_kpp_theoDBHManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoCanhBao_kpp_theoDBHManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoCanhBao_kpp_theoDBHManagementLocalBean" id="baoCaoCanhBao_kpp_theoDBHManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoCanhBao_kpp_theoQuanHuyenManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoCanhBao_kpp_theoQuanHuyenManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoCanhBao_kpp_theoQuanHuyenManagementLocalBean" id="baoCaoCanhBao_kpp_theoQuanHuyenManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoCanhBao_kpp_theoChiNhanhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.WarningReport_KPP_ByBranchManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.WarningReport_KPP_ByBranchManagementLocalBean" id="baoCaoCanhBao_kpp_theoChiNhanhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ThueBaoPTMKetQuaThucHienManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ThueBaoPTM_KetQuaThucHienManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ThueBaoPTM_KetQuaThucHienManagementLocalBean" id="thueBaoPTM_ketQuaThucHienManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/PromPackageManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.PromPackageManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.PromPackageManagementLocalBean" id="promPackageManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/DMChuongTrinhManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.DMChuongTrinhManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.DMChuongTrinhManagementLocalBean" id="dmChuongTrinhManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BranchMappingManagenmentSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BranchMappingManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BranchMappingManagementLocalBean" id="branchMappingManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoChiTraKhuyenKhichChoDBHManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTraKhuyenKhichChoDiemBanHangManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoChiTraKhuyenKhichChoDiemBanHangManagementLocalBean" id="BaoCaoChiTraKhuyenKhichChoDBHManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/ActionLogManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.ActionLogManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.ActionLogManagementLocalBean" id="actionLogManagenmentLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/QTeenQStudentManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.QTeenQStudent2015ManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.QTeenQStudent2015ManagementLocalBean" id="qStudent2015ManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoSoDiemChoThueBaoManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoSoDiemChoThueBaoManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoSoDiemChoThueBaoManagementLocalBean" id="BaoCaoSoDiemChoThueBaoManagementLocalBean"/>
    <jee:local-slsb jndi-name="java:app/dataseller-core-logic-impl-1.0/BaoCaoPhatTrienGoiManagementSessionEJB!com.benluck.vms.mobifonedataseller.core.business.BaoCaoPhatTrienGoiManagementLocalBean" business-interface="com.benluck.vms.mobifonedataseller.core.business.BaoCaoPhatTrienGoiManagementLocalBean" id="BaoCaoPhatTrienGoiManagementLocalBean"/>

    <jee:local-slsb jndi-name="java:app/dataseller-mail-service-1.0/EmailSessionBeanEJB!com.benluck.vms.mobifonedataseller.mail.EmailLocalBean" business-interface="com.benluck.vms.mobifonedataseller.mail.EmailLocalBean" id="emailLocalBean"/>


    <bean id="userSecurityAdvice" class="com.benluck.vms.mobifonedataseller.security.MyUserDetailService">
        <property name="userManagementLocalBean" ref="userManagementSessionEJB"/>
    </bean>

    <bean id="propertyConfigurer" class="com.benluck.vms.mobifonedataseller.util.MyPropertyConfigurer">

    </bean>
    <bean id="mailEngine" class="com.benluck.vms.mobifonedataseller.webapp.service.MailEngine">
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="emailSender" ref="emailSender"/>
    </bean>
    <!-- Configure Velocity for sending e-mail -->
    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">class</prop>
                <prop key="class.resource.loader.class">
                    org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
                </prop>
                <prop key="velocimacro.library"></prop>
            </props>
        </property>
    </bean>
    <!-- Configure e-mail sender for sending e-mail -->
    <bean id="emailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <!-- Uncomment if you need to authenticate with your SMTP Server -->
        <property name="username" value="${mail.username}"/>
        <property name="password" value="${mail.password}"/>
        <property name="port" value="${mail.port}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${mail.smtp.starttls.enable}</prop>
            </props>
        </property>
    </bean>
</beans>
