#viewScoreHistoryNavTab li{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background: none;
}

#viewScoreHistoryNavTab li.active{
    position: relative;
    bottom: -1px;
}

.viewScoreContent .calendar {
    position: inherit !important;
    height: 30px !important;
    width: 30px !important;
    display: inline-block;
    margin-top: 3px;
}

#content404 {
    background: white;
}

.viewScoreContent{
    padding-top: 10px;
}

.traCuuBtn {
    margin-top: 10px;
}

.nowrap{
    white-space: nowrap;
}

.clear{
    clear: both;
}

#nav-bar li.active a, #nav-bar li.active a:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

th.text-center{
    vertical-align: middle !important;
}

.auto_break{
    white-space: pre-line !important;
    word-break: break-all !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
    height: 10px !important;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail{
    height: 10px !important;
    margin-top: 6px !important;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover{
    background-color: #008000 !important;
}

.mCSB_scrollTools_horizontal{
    position: absolute !important;
    top: -5px !important;
}
.mCSB_container{
    top: 10px !important;
}

#qStudentLink,
#kppLink{
    float: left;
}

.row{
    margin-top: 10px; !important;
}

.form-group .control-label{
    margin-top: 5px;
}

.form-group .control-label.font-size-small{
    margin-top: 7px;
}

article {
   min-height: 700px;
}

select, input{
    width: 200px !important;
}

.icon_calendar {
    padding-left: 35px !important;
}

.form-control.option{
    max-width: 250px;
}

.seperator {
    height: 10px;
    width: 2px;
    background-color: black;
    border: 1px solid #cccccc;
    margin: 0px 10px;
}

.info_label {
    color: #c9302C;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
}
.info_user{
    float: left;
}

.tblUserInfoKQTH_2015 tbody tr td:first-child{
    text-align: right;
}

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Lato', sans-serif !important;
    position: relative;
}

h1, h2, h3, h4, h5, nav {
    font-family: Tahoma, Geneva, sans-serif;
}

article {
    background-color: rgba(255, 255, 255, .9);
    padding: 12px 48px;
}

/********Header - Nav************/
nav {
    float: right;
    margin-top: 24px;
}

nav li:first-child, .bg-red {
    background: rgba(0,0,0,0.4);
}

nav li:nth-child(2) {
    background: rgba(0,0,0,0.4);
}

nav li:nth-child(3) {
    background: rgba(0,0,0,0.4);
}

nav li:nth-child(4) {
    background: #f79422;
}

nav li:nth-child(5) {
    background: #53bbe2;
}

nav li:nth-child(6) {
    background: #39F;
}

#kpp_navigation_bar li {
    font-family: 'Lato', sans-serif
}

#kpp_navigation_bar li a {
    font-size: 16px !important;
}

nav li {
    display: inline-block;
    text-align: center;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 5px 9px;
    font-weight: bold;
    font-size: 14px;
}

nav li:hover {
    background: #025091;
}

nav li a:hover {
    opacity: 1;
}

nav li.active {
    background-color: white !important;
}

nav li.active a {
    color: black !important;
}

header hr {
    width: 99.2%;
    border-top: 1px solid #c3c3bb;
}

nav li.active a {
    opacity: 1;

}

.banner img {
    min-width: 150px;
}

/*********Body***********/
.bg-blue {
    background: #39F !important;
}

.bg-blue a:hover {
    color: black !important;
}

.container {
    max-width: 1150px;
}

.bg-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.twoxtwo {
    background: url(../images/gridtile.png) fixed;
}

.q_student_q_teen_2015_home_page i.fa {
    color: #3A90CA;
    font-size: 18px;
}

/*********Footer***********/
footer {
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    padding: 8px 0 1px;
    color: white;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
    background: #888;
}

.footer-navigation li a,
.footer-social-icon li a {
    color: white;
}

footer a:hover {
    text-decoration: none;
}

.footer-social-icon li {
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    position: relative;
    background: #3A90CA;
    transition: all 0.3s ease-in-out;
}

.footer-social-icon li:last-child {
    margin-left: 10px;
}

.footer-social-icon li  a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.footer-social-icon li:hover {
    background: white;
    color: red !important;
}

.footer-social-icon li:hover .fa {
    color: #3A90CA;
}

.footer-social-icon li a i.fa {
    line-height: 40px;
    color: white;
}

footer img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9;
}


.scrollTop {
    width: 50px;
    height: 50px;
    border-radius:50%;
    vertical-align: middle;
    position: fixed;
    bottom: 50px;
    right: 100px;
    border: 2px solid #3A90CA;
    display: none;
    z-index: 10;
    background: white;
    cursor: pointer;
    transition: all 0.3s;
}

.scrollTop:hover {
    background: #3A90CA;
}

.scrollTop:hover .fa {
    color: white !important;
}

.scrollTop .fa {
    vertical-align:middle;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 40px;
    font-size: 25px !important;
}

ul.footer-navigation li {
    transition: all 0.3s;
}


ul.footer-navigation li a:hover {
    color: #3A90CA;
}

.rounded-x {
    border-radius: 50% !important;
}

.social_linkedin {
    background: url(../images/linkedin.png) no-repeat;
}

.social_facebook {
    background: url(../images/facebook.png) no-repeat;
}

.social_googlePlus {
    background: url(../images/googleplus.png) no-repeat;
}

.social_pinterest {
    background: url(../images/pintrest.png) no-repeat;
}

.social_twitter {
    background: url(../images/twitter.png) no-repeat;
}

.social-icons li a,
a.social-icon {
    width: 28px;
    height: 28px;
    display: block;
    background-position: 0 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.social-icons li:hover a {
    background-position: 0 -38px;
}

.social-icons li a {
    margin: 0 3px;
    transition: all 0.3s;
}



/*.social-icons-color li a {
    opacity: 0.7;
    background-position: 0 -38px !important;
    -webkit-backface-visibility: hidden; !*For Chrome*!
}

.social-icons-color li a:hover {
    opacity: 1;
}*/

/***   Home page   ***/
.home-page {
    background: url(../images/thuebaoptm_2015/bg-home.png) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#promotion_home_img {
    background: url(../images/thuebaoptm_2015/bg-home-ptm.png) 60% -150px no-repeat;
    width: 100%;
    height: 768px;
}

.home-page .content img {
    position: absolute;
    bottom: 0px;
}

.content {
    position: relative;
    min-height: 650px;
    padding: 25px 0;
}

.img-left {
    position: absolute;
    top: 0;
}

/***   Sub page   ***/

.sub-page {
    background: url(../images/bg-kenhphanphoi.jpg) top center;
    background-size: cover;
}

.sub-page .content {
    background: url(../images/bg-png1.png) 0% 0% no-repeat;
}

.sub-page-the-le {
    background: url(../images/bg-cover.jpg) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sub-page .content img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 850px;
}

.maincolor {
    color: #0060af;
}

.bg-maincolor {
    background: #63b5f8;
}

.backround-red {
    background: red;
    border-radius: 8px;
}

table>tbody>tr>td:nth-child(4) {
    white-space: pre;
}

table tr td {
    vertical-align: middle !important;
}

/***   Page total  ***/
.home-total {
    background: url(../images/bg-total-home-new.jpg) top center;
    background-size: cover;
}

.home-total a {
    display: inline-block;
}

.home-total img {
    max-height: 450px;
}

.img-canhan {
    margin: 200px 0 0 200px
}

.img-phanphoi {
    margin: 0px 0 0 -75px;
}

.ul-thele-q-student li {
    /*background: url(https://cdn1.iconfinder.com/data/icons/Momentum_MatteEntireSet/32/bullet-blue.png) 0px -6px no-repeat;*/
    margin-left: 15px;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 27px;
}

.ul-thele-q-student li p {
    margin: 0px;
}

.q-student-thankcaption {
    border: 3px solid;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    border-color: #0060b1;
    display: inline-block;
    text-align: center;
    padding: 4px;
    margin-bottom: 13px;
    font-weight: 800;
    color: #0060b1;
    font-size: 21px;
    margin-left: 23px;
}

.the_le {
    font-size: 15.5px;
}

.table_goi_khuyen_khich {
    width: 300px !important;
    left: 51%;
    position: absolute;
    top: 320px;
}

.table_goi_khuyen_khich th, .table_goi_khuyen_khich td {
    text-align: center;
}

.table_goi_khuyen_khich > tbody > tr:nth-child(2n+1) > td,
.table_goi_khuyen_khich > tbody > tr:nth-child(2n+1) > th {
    background-color: #f1f1f1 !important;
}

.table_goi_khuyen_khich tbody tr td:first-child {
    text-align: left;
    padding-left: 20px;
}

.q_student_q_teen_2015_home_page {
    /*background: url(/themes/mobifonedata/images/bg_2.png) top center no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

.q_student_q_teen_2015_home_img {
    background: url(/themes/mobifonedata/images/bg_4.png) top center no-repeat;
    width: 100%;
    height: 768px;
}

.q_teen_q_student_left_img {
    background: url(/themes/mobifonedata/images/bg_5.png) top center no-repeat;
    width: 603px;
    height: 724px;
    position: absolute;
}

.footer_q_teen_q_student {
    width: 100%;
    height: 47px;
    position: fixed;
    bottom: 35px;
}

.no-margin {
    margin: 0px !important;
}

@media screen and (max-width:1200px) {
    .img-canhan {
        margin: 30px 0 0;
    }

    nav {
        margin-top: 12px;
    }

    nav li a {
        font-size: 14px;
        padding: 5px;
    }

    .sub-page {
        background-size: auto;
    }

    .sub-page-dai-ly .content img {
        left: -90px;
    }

    .sub-page .content {
        background: url(../images/bg-png1.png) -9% 0% no-repeat;
    }

    /***   Page total  ***/
    .home-total img {
        max-height: 450px;
    }

    .img-canhan {
        margin: 200px 0 0 100px;
    }

    .img-phanphoi {
        margin: 200px 0 0 -75px;
    }
}

@media screen and (max-width:800px) {
    .home-total {
        background: url(../images/bg-home-total-tablet-doc-total.jpg) top center;
        background-size: cover;
    }

    header hr {
        width: 94%;
        margin-left: 14px;
    }

    nav {
        float: none;
    }

    nav li a {
        font-weight: 500;
    }

    .content {
        min-height: 815px;
    }

    .background-none {
        background: none !important;
    }

    /***   Page total  ***/
    .home-total img {
        max-height: 390px;
    }

    .img-canhan {
        margin: 170px 0 0 200px;
    }

    .img-phanphoi {
        margin: 10px 0 0 145px;
    }

}

@media screen and (max-width:700px) {

    nav ul {
        margin-left: 0;
    }

    nav li {
        display: inline-block;
        text-align: center;
        width: 49%;
        margin: 2px 0.3% !important;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
    }

    nav li a {
        display: block;
        text-decoration: none;
        padding: 5px 10px;
        font-size: 11.5px;
        -webkit-transform: skew(0deg) !important;
        -moz-transform: skew(0deg) !important;
        -ms-transform: skew(0deg) !important;
        -o-transform: skew(0deg) !important;
        transform: skew(0deg) !important;
    }

    header {
        margin-top: 12px !important;
    }

    header .baner {
        text-align: left !important;
    }

    header img {
        max-width: 100px !important;
    }

    .content {
        min-height: 390px;
    }

    .sub-page, .sub-page-the-le {
        background: url(../images/bg-sub-mobile.jpg) top center no-repeat;
        background-attachment: fixed;
    }

    .sub-page .content {
        background: none;
        max-width: none;
    }

    article {
        padding: 1px 8px;
        margin-top: 5px;
    }

    .home-page .content img {
        max-width: 150%;
    }

    /***   Page total  ***/
    .home-total img {
        max-height: 250px;
    }

    .img-canhan {
        margin: 110px 0 0 56px;
    }

    .img-phanphoi {
        margin: 0 0 0 -45px;
    }
}

@media screen and (max-width:582px) {
    nav li {
        margin: 2px 0.1% !important;
    }

    /*.home-page {*/
    /*background: url(../images/bg-full-finail-DL.png) top center no-repeat;*/
    /*}*/
}

@media screen and (max-width:500px) {
    /***   Page total  ***/
    .img-canhan {
        margin: 95px 0 0 125px;
    }

    .img-phanphoi {
        margin: 0px 0 0 90px;
    }
}

@media screen and (max-width:360px) {
    nav li {
        margin: 2px 0 !important;
    }

    .img-canhan {
        margin: 100px 0 0 35px;
    }

    .img-phanphoi {
        margin: 0 0 10px 10px;
    }

    .img-phanphoi img {
        max-height: 240px;
    }
}

/* CSS Document */
h4 {
    color: #63b5f8;
}

.box-border {
    border-radius: 7px;
}

.text-white {
    color: white !important;
}

.padding-round-small {
    padding: 5px !important;
}

.display-inline {
    display: inline-block;
}

h1, h2, h3, h4, h5, nav {
    /*font-family: Tahoma, Geneva, sans-serif;*/
    font-family: 'Lato', sans-serif;
}

h5, .h5 {
    font-size: 16px;
    font-weight: 700;
}

.example-two {
    border-radius: 10px;
    border: 2px solid #428bca;
    width: 100%;
}

ul {
    padding-left: 0px;
}

ul li {
    margin: 5px 0;
    /*background: url(http://1.bp.blogspot.com/-BlXyqO7zxzc/U_Vfsug1tkI/AAAAAAAAC1o/JT5LDgpkAb0/s320/right-arrow.png) left top no-repeat;*/
    padding: 5px 0 5px 20px;
    list-style: none;
    color: #000;
    font-size: 15.5px;
}

table ul li {
    margin-top: 0;
    padding-top: 0;
}

p {
    font-size: 15.5px;
}

@media screen and (max-width:800px) {
    ul li {
        font-size: 14px;
    }
}

@media screen and (max-width:700px) {
    h1 {
        font-size: 21px;
    }

    ul li, ul {
        margin: 0;
    }

    h5, .h5 {
        margin: 10px auto 5px;
    }
}